.promotional-tiles {
  background-color: $neutrals-light-grey-bg;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 8rem;

  &.dark {
    background-color: $brand-dark-blue;
  }
}

.promotional-tiles__grid {
  display: grid;
  margin: 0 auto;
  gap: 2rem;
  width: max-content;

  &.grid-cols-2,
  &.grid-cols-4 {
    grid-template-columns: 1fr 1fr;
  }
  &.grid-cols-3,
  &.grid-cols-5,
  &.grid-cols-6 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.promotional-tile {
  position: relative;
  max-width: 395px;
  min-height: 532px;
  padding: 3rem;
  background-color: $shades-white;
  transition-property: all;
  transition-duration: 200ms;
  overflow: hidden;

  &__header {
    margin-bottom: 3rem;
  }

  &__icon {
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  &__body {
    h3 {
      @include desk-h3;
      font-size: 2rem;
      color: $brand-dark-blue;
      margin-bottom: 1.5rem;
      min-height: 5.5rem;
    }
    p {
      @include desk-body-large;
      color: $neutrals-text-light;
      min-height: 11.5rem;
    }
  }

  &:hover {
    @include raised;
    cursor: pointer;
  }

  &.dark {
    background-color: $brand-promo-tile-bg;

    .promotional-tile__body {
      h3,
      p {
        color: $shades-white;
      }
    }

    &:hover {
      box-shadow: 0px 20px 30px rgba(14, 28, 59, 0.5);
    }
  }
}

@media (max-width: $mobile) {
  .promotional-tiles__grid {
    grid-template-columns: 1fr !important;
  }

  .promotional-tile {
    padding: 1.5rem;
    min-height: 371px;

    &__header {
      margin-bottom: 1.75rem;
    }

    &__body {
      h3 {
        @include mobile-h3;
        margin-bottom: 0.75rem;
      }
      p {
        @include mobile-body-medium;
        min-height: 108px;
      }
    }
  }
}
