/* Homepage Carousel */
.carousel {
  max-width: 33.75rem;

  &__heading {
    @include desk-h1;

    margin-bottom: 2rem;
    span {
      display: block;
    }
  }

  &__heading--2 {
    &.communities {
      color: $brand-blue;
    }

    &.electricity {
      color: $fuels-electricity-green-2;
    }

    &.solar {
      color: $fuels-solar-yellow;
    }

    &.gas {
      color: $fuels-gas-blue;
    }
  }

  &__body {
    @include desk-body-large;

    color: $neutrals-text-light;
    margin-bottom: 2rem;
  }

  .carousel__btn-group {
    display: flex;

    > :first-child {
      margin-right: 0.5rem;
    }
  }

  .carousel__btn {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 100%;

    img {
      width: 44px;
      height: 44px;
    }
  }
}
