.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.form-control::-moz-placeholder {
  color: #ffffff;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::placeholder {
  color: #ffffff;
}

/*
    Hides Sitecore Experience Editor markup,
    if you run the app in connected mode while the Sitecore cookies
    are set to edit mode.
  */
.scChromeData,
.scpm {
  display: none !important;
}

/*
    Styles for default JSS error components
  */
.sc-jss-editing-error,
.sc-jss-placeholder-error {
  padding: 1em;
  background-color: lightyellow;
}
a {
  text-decoration: none !important;
}

.searchicon {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-color: #4574bf;
  position: relative;
  margin-top: 14px;
}
.searchicon-responsive {
  display: none;
}
.searchiconImg {
  line-height: 1;
  margin-top: 3px !important;
  margin-left: 1px !important;
  color: white;
  width: 16px;
  height: 16px;
}
.fa-search {
  color: white;
  font-size: 14px;
  margin-top: 9px;
  margin-right: 2px;
}
// .home-container{
//   padding: 0 2px 0 2px;
// }
.left-section {
  width: 45%;
}
.right-section {
  width: 55%;
  padding-left: 7%;
}
.carosal {
  height: 180vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 5px;
}
.banner-section {
  display: flex;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.border-bottom {
  border-bottom: 1px solid #5e667d;
}

.para-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  width: 78%;
  color: #5e667d;
}

.header-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  letter-spacing: -0.015em;
}
.sub-text {
  font-size: 23px;
  font-weight: 700;
}
.improveNetwork-text {
  color: #ffffff;
}
.common-title {
  color: #1d294e;
}
.change-title {
  color: #4574bf;
}
.keeping-title {
  color: #ffffff;
}
.community-title {
  color: #4574bf;
}
.network-box {
  background-color: #00836a;
  padding: 10% 7% 10% 7%;
}
.network-container {
  margin: 10% 0 10% 0;
}
.form-control {
  border-radius: 0 !important;
  background: url(../../../public/AusnetAssets/location.png) no-repeat #00836a 25px;
  background-size: 16px;
  color: #fff;
  padding: 30px 0 30px 55px;
  border-bottom: 0.6px solid #ffffff;
  border-right: none;
}
.network-search-input {
  width: 90%;
}
.network-search {
  display: flex;
}
.network-searchIcon {
  background: #12b57a;
  width: 10%;
  padding: 20px 0 0 8px;
}
.form-control:focus {
  color: #ffffff;
  background: #00836a;
}
.paraImprove-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  width: 90%;
}
.outages-section {
  color: #ffffff;
  margin-right: 25px;
  border-right: 2px solid #ffffff;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
}
.last-outages {
  border-right: none !important;
}
.outages-innersection {
  font-size: 13px;
  font-weight: 200;
}

.network-box:before {
  content: '';
  position: absolute;
  top: 139.6%;
  left: 52.2%;
  width: 0px;
  height: 0px;
  border-bottom: 55px solid #fff;
  border-right: 55px solid #11a770;
}
.networksearchiconImg {
  width: 50px !important;
}
.arrowStyle {
  width: 35px !important;
  margin-right: 15px;
  margin-bottom: 5px;
}

.ulinks {
  padding: 0 !important;
}

.links {
  display: flex;
  list-style-type: none;
  color: #4574bf;
  font-size: 20px;
  font-weight: 500;
}

.carosal::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.carosal::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}
.carosal::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}
.main-menu {
  .personIcon {
    margin-left: 5px;
    display: inline-block;
  }
}

.home-container {
  display: grid;
}
.nav-display {
  display: grid;
}
.subTab {
  display: flex;
}
.searchIcon {
  background: #4574bf;
  width: 12%;
  padding-top: 9px;
  border-radius: 50px;
}
.text-sab {
  color: #000;
}
.navsabTabs {
  border-top: 1px solid #d6d6d6;
  padding: 8px 0 8px 0;
}
.navTabs {
  padding: 14px 0 5px 0px;
}
.logoIcon {
  font-size: 25px;
  margin-left: 30px;
}
.keep-our-comm-safe {
  background-color: #1d294e;
}
.contentImg {
  width: 48%;
}
.reportOutage {
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
}
.contentImage-text {
  padding: 8%;
  width: 35%;
}
.contentImage-Section {
  display: flex;
}
.reportOutageText {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.reportLinks {
  display: flex;
}
.reportLinks a {
  color: #ffffff !important;
}
.promationTile {
  background: #162245;
  margin-right: 2.5%;
}
.lifeImg {
  width: 10%;
}
.promationTile-section {
  padding: 55px;
}
.news-section {
  display: flex;
}
.news-title {
  color: #4574bf;
}
.news-Content {
  color: #1d294e;
  font-size: 20px;
  font-weight: 700;
}
.news-right-section {
  margin-left: 10%;
}
.news-card {
  padding: 1% 3% 1% 0;
  height: 20%;
  border-top: 1px solid #e5ecf2;
  border-bottom: 1px solid #e5ecf2;
}
.newsImg-section {
  height: 100vh;
}
.moreStories {
  color: #4574bf;
  font-size: 15px;
}

/* Homepage Carousel */
.carousel {
  max-width: 33.75rem;

  &__heading {
    @include desk-h1;

    margin-bottom: 2rem;
    span {
      display: block;
    }
  }

  &__heading--2 {
    &.communities {
      color: $brand-blue;
    }

    &.electricity {
      color: $fuels-electricity-green-2;
    }

    &.solar {
      color: $fuels-solar-yellow;
    }

    &.gas {
      color: $fuels-gas-blue;
    }
  }

  &__body {
    @include desk-body-large;

    color: $neutrals-text-light;
    margin-bottom: 2rem;
  }

  .carousel__btn-group {
    display: flex;

    > :first-child {
      margin-right: 0.5rem;
    }
  }

  .carousel__btn {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 100%;

    img {
      width: 44px;
      height: 44px;
    }
  }
}
