/* Desktop Type */
@mixin desk-h1 {
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-weight: 800; // extrabold
  font-size: 90px;
  letter-spacing: -0.015rem;
  line-height: 96px;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-h2 {
  font-weight: 700; // bold
  font-size: 48px;
  letter-spacing: -0.5;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-h3 {
  font-weight: 700; // bold
  font-size: 36px;
  letter-spacing: 0;
  line-height: 44px;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-h4 {
  font-weight: 700; // bold
  font-size: 28px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-h5 {
  font-weight: 600; // semibold
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-h6 {
  font-weight: 600; // semibold
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-h7 {
  font-weight: 600; // semibold
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-intro {
  font-weight: 500; // medium
  font-size: 28px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-body-large {
  font-weight: 400; // regular
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-body-medium {
  font-weight: 500; // medium
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-body-small {
  font-weight: 500; // medium
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin desk-overline {
  font-weight: 700; // bold
  font-size: 14px;
  letter-spacing: 10;
  margin-bottom: 0;
  width: unset;
  text-transform: uppercase;
}

/* Mobile Type */
@mixin mobile-h1 {
  font-weight: 800; // extrabold
  font-size: 44px;
  letter-spacing: -0.005em;
  line-height: 48px;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-h2 {
  font-weight: 700; // bold
  font-size: 32px;
  letter-spacing: -0.5;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-h3 {
  font-weight: 700; // bold
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-h4 {
  font-weight: 700; // bold
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-h5 {
  font-weight: 600; // semibold
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-h6 {
  font-weight: 600; // semibold
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-h7 {
  font-weight: 600; // semibold
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-intro {
  font-weight: 500; // medium
  font-size: 28px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-body-large {
  font-weight: 500; // medium
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-body-medium {
  font-weight: 500; // medium
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-body-small {
  font-weight: 500; // medium
  font-size: 12px;
  letter-spacing: 0;
  margin-bottom: 0;
  width: unset;
}

@mixin mobile-overline {
  font-weight: 700; // bold
  font-size: 12px;
  letter-spacing: 10;
  text-transform: uppercase;
  margin-bottom: 0;
  width: unset;
}
