@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'), url('/public/AusnetAssets/fonts/Gilroy-Light.otf') format('otf');
}
@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy ExtraBold'), url('/public/AusnetAssets/fonts/Gilroy-ExtraBold.otf') format('otf');
}


a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

/*
  Styles for default JSS error components
*/
.sc-jss-editing-error,
.sc-jss-placeholder-error {
  padding: 1em;
  background-color: lightyellow;
}
a{
  text-decoration: none !important;
}
body{
  font-family: Gilroy Light;
  font-style: normal;
}


.searchicon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4574BF;
  position: relative;
  .searchiconImg{
    line-height: 1;
    margin-top: 3px !important;
    margin-left: 1px !important;
    color: white;
    width:16px;
    height: 16px;
  }
}