@import './typography';
@import './colours';
@import './surfaces';

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #d3d3d3; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #6c757d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}

a[target='_blank']:after {
  content: '\1F5D7';
}

a {
  color: #4574bf;
}

li {
  list-style-type: none;
}

@import './global.scss';
@import '../components/AusnetFooter/ausnet-footer.module.scss';
@import '../components/Navigation/Navigation.module.scss';
@import '../components/Home/home.scss';
@import '../components/HomepageCarousel/homepage-carousel.scss';
